@import "../../static/globalstyles";

/*=========== Start Landing Area ============*/

.site-banner-content {
  padding: 16px;
  .site-title {
    padding-top: 12%;
    h3 {
      margin: 0;
      padding-bottom: 0.1rem;
    }
    h1 {
      padding: 0;
      margin: 0;
    }
    h4 {
      padding-top: 25px;
      margin-bottom: 3rem;
    }
  }
  img {
    color: $prussian-blue;
    padding: 7rem 0;
    width: 90rem;
    margin: 0;
  }
  .site-buttons {
    .btn-icons {
      padding: 0 0.8rem 0 0;
    }
  }
}

/*=========== End Landing Area ============*/

/*=========== Start About Area =============*/
.about-section {
  margin-top: 1rem;
  padding: 2rem 0;
  .about-section-content {
    padding: 0 32px;
    color: $prussian-blue;
    .about-para {
      padding-top: 1.5rem;
    }
    .about-skills {
      padding-top: 2rem;
      .skill-grid {
        a {
          .circle-icon {
            background: $gradient;
            color: whitesmoke;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            padding: 30px;
            -webkit-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.33);
            box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.33);
          }
          .circle-icon:hover {
            background: transparent;
            color: $prussian-blue;
            border: 3px solid $prussian-blue;
            -webkit-box-shadow: 10px 10px 0px -200px rgba(0, 0, 0, 0);
            -moz-box-shadow: 10px 10px 0px -200px rgba(0, 0, 0, 0);
            box-shadow: 10px 10px 0px -200px rgba(0, 0, 0, 0);
          }
        }
        .icon-text {
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          line-height: 40px;
          font-weight: 500;
          color: $prussian-blue;
          padding-left: 8px;
        }
      }
    }
  }
}
/*=========== End About Area =============*/
