@import '../../static/globalstyles';

.site-banner-content {
  padding: 16px;
  .site-title {
    padding-top: 12%;
    h3{
      margin: 0;
      padding-bottom: .1rem;
    }
    h1{
      padding: 0;
      margin: 0;
    }
    h4{
      // margin: 0;
      padding-top: 25px;
      margin-bottom: 3rem;
    }
  }
  img {
    color: $prussian-blue;
    padding: 7rem 0 0 2rem;
    width: 90rem;
    margin: 0;
  }
}

// .title-text {
//   font: normal bold 2rem/2rem;
// }

.site-buttons {
}
