@import '../../static/globalstyles';

.header {
  .logo {
    h2 {
      color: $prussian-blue;
      margin: 0;
      padding: 0;
    }
  }
  .nav-lists {
    margin-bottom: 0;
    padding-left: 15px;
    padding-bottom: 0;
  }
  // .active{
  //   color: $imperial-red !important;
  // }
  // .nav-links:hover{
  //   color: $imperial-red !important;
  // }
}